html {
  box-sizing: border-box;
  font-family: 'Open-Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
$grayBg: #161616;

$numSlides: 5;
$imgDist: -150 * 1px;

$bgSpd: 500 * 1ms;
$imgSpd: 1000 * 1ms;

$bgPageClr: #131417;
$bgCellClr: rgba(0, 0, 0, .5);
$bgContentClr: #1C1E22;
$cellHvrClr: #F25555;

$rows: 2;
$cellsInRow: 2;

$cellAnSpeed: 400 * 1ms;
$hoverDarkSpeed: 500 * 1ms;

$fontteacher : "Karla", sans-serif;

/*COMING SOON*/
$background:#000;
$primary:#a85067;
$secondary:#3e2845;
$shade:#2c2637;
/**/

$bgPics: (
        url('../img/images/testbg4.jpg') center center no-repeat,
        url('../img/images/testbg5.jpg') center center no-repeat,
        url('../img/images/testbg3.jpg') center center no-repeat,
        url('../img/images/testbg2.jpg') center center no-repeat,
        url('../img/images/testbg1.jpg') center center no-repeat
);

$bgFirstpage: (
        url('../img/images/polina.png') center right no-repeat,
        url('../img/images/andrey.png') center right no-repeat,
        url('../img/images/sergey.png') center right no-repeat
);

@mixin mediaMaxW($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin mediaMaxH($height) {
  @media screen and (max-height: $height) {
    @content;
  }
}

@mixin animated(
  $time: 300ms,
  $fillmode: both,
  $count: 1)
{
  animation-duration: $time;
  animation-fill-mode: $fillmode;
  animation-iteration-count: $count;
}

@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@mixin flex-rowdirection {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@mixin flex-rowrdirection {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@mixin flex-coldirection{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin flex-colrdirection {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@mixin flex-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
@mixin flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin justify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@mixin justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@mixin justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin justify-content-between{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@mixin justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
@mixin justfy-content-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
@mixin align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@mixin align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
@mixin align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@mixin align-items-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
@mixin align-items-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

$bezier: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$time: 300ms;

.cont {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  overflow: hidden;
  cursor: pointer;

  &__img {
    position: relative;
  }
  &__close {
    position: fixed;
    top: 3%;
    left: 3%;
    width: 10vw;
    height: 10vw;
    max-width: 100px;
    min-width: 50px;
    max-height: 100px;
    min-height: 50px;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
    transition: opacity 200ms, z-index 0ms 200ms;
    &:after, &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 115px;
      height: 20px;
      border-radius: 20px;
      background-color: #fff;
      transition: 500ms 500ms;
      @include mediaMaxW(970px) {
        width: 50px;
        height: 10px;
      }
      @include mediaMaxH(970px){
        width: 50px;
        height: 10px;
      }
    }
    &:after {
      transform-origin: center left;
      transform: rotate(45deg) scale(0, 0);
    }
    &:before {
      left: -33px;
      transform-origin: center right;
      transform: rotate(-45deg) scale(0, 0);
      transition: 500ms 650ms;
      @include mediaMaxW(970px) {
        left: -16px;
      }
      @include mediaMaxH(970px){
        left: -16px;
      }
    }
  }
  &__bg-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: 350ms;
    z-index: 2;
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 4%;
    width: 23%;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #fff;
    font: {
      size: 30px;
      weight: 800;
    }
    transform: translate3d(0, -50%, 0) rotate(0.01deg);
    will-change: transform, opacity;
    transition: 750ms;
    opacity: 1;
    z-index: 1;
    @include mediaMaxW(960px) {
      font: {
        size: 30px;
      }
    }
    @include mediaMaxW(576px){
      font: {
        size: 30px;
      }
      left: -20% !important;
      width: 60% !important;
      transform: rotate(90deg) !important;
    }
  }
  &__container-content{
    width: 100%;
    height: 100%;
    display: none;

    .container-main {
      height: 100vh;
      background-color: $background;


      /************************************************ CONTENT FIRST SLIDER ******************************************************************/
      .box {
        @include flex();
        justify-content: flex-end;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        &__row {
          &-cell {
          position: absolute;
          top: 35%;
          left: 50%;
          width: (50% - 2%) / $cellsInRow;
          height: (60% - 2%) / $rows;
          background-color: $bgCellClr;
          transform: translateZ(0);
          transition: all $cellAnSpeed 600ms, width 300ms 300ms, background-color 300ms 600ms;
          cursor: pointer;
          overflow: hidden;
          z-index: 2;
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: $hoverDarkSpeed;
          }
          &:before {
            content: '';
            position: absolute;
            top: -5%;
            left: -5%;
            width: 110%;
            height: 110%;
            background-color: rgba(0, 0, 0, 0);
            opacity: 1;
            transition: 300ms;
            z-index: -3;
          }
          &:hover:before {
            background-color: $cellHvrClr;
          }
          &-info {
            margin-left: 20px;
            width: 10vw;
            max-width: 120px;
            color: #fff;
            transition: $cellAnSpeed $cellAnSpeed + 450;
            &-ep {
              margin-top: 25px;
              font-size: 10px;
              span {
                padding-left: 10px;
              }
              @include mediaMaxH(915px) {
                margin-top: 10px;
              }
            }
            &-title {
              letter-spacing: 2px;
              margin-top: 15px;
              font-size: clamp(15px, 2vw, 25px);
              @include mediaMaxH(692px) {
                margin-top: 8px;
                font-size: 18px;
              }
              @include mediaMaxH(692px) {
                font-size: 16px;
                margin-top: 4px;
              }
            }
            &-sign {
              margin: 15px 0 0 2px;
              height: 3px;
              width: 20px;
              background-color: #fff;
              border-radius: 1px;
              transition: 200ms;
              z-index: 10;
              @include mediaMaxH(800px) {
                margin-top: 10px;
              }
            }
          }
          &-info--time {
            position: absolute;
            bottom: 18px;
            font-size: 10px;
            @include mediaMaxH(650px) {
              right: 20px;
              text-align: right;
            }
          }
          &-info--full {
            transform: translateX(-50px);
            opacity: 0;
            margin-left: 2vw;
            transition: 300ms;
            @include mediaMaxW(576px){
              margin: 0px 0px 0px 5vw;
              position: absolute;
              top: 30% !important;
            }
            &-heading {
              line-height: clamp(20px, 4vw, 60px);
              width: 90%;
              color: #131313;
              font: {
                size: clamp(20px, 4vw, 60px);
                weight: 900;
              }
            }
            &-par {
              padding-top: 5vw;
              color: #fff;
              font-size: clamp(20px, 4vw, 60px);
              &span{
                white-space: nowrap;
              }
              @include mediaMaxH(600px){
                display: none;
              }
            }
          }
            @include mediaMaxW(997.1px){
              left: 3%;
              width: 45%;
              height: 30%;
            }
        }
          @for $i from 1 through $cellsInRow {
          &-cell:nth-child(#{$i + 1}) {
            left: 50% + ((50% / $cellsInRow) * $i);
            @include mediaMaxW(997.1px){
              left: 52%
            }
          }
        }
        }
        @for $i from 1 through $rows {
        &__row:nth-child(#{$i + 1}) {
          .box__row-cell {
            top: 35% + (65% / $rows) * $i;
          }
        }
      }
        .box__content {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          background-color: $bgContentClr;
          transform: translateZ(0);
          opacity: 0;
          z-index: -10;
          transition: all 400ms 600ms, z-index 0ms 0ms;
        .box__content-wrapper {
          position: relative;
          margin-left: auto;
          width: 60%;
          height: 100%;
          overflow: hidden;
          @include mediaMaxW(576px){
					 width: 100%;
					 height: 70vh;
					 margin-top: 30vh;
          }
          .box__content-inner {
            position: absolute;
            left: 5vw;
            transform: translateX(50px);
            width: 100%;
            height: 100%;
            overflow: auto;
            opacity: 0;
            transition: $cellAnSpeed, opacity 200ms;
            .box__content-text{
              padding: 20px 0 30px 8px;
              width: 300px;
              max-width: 100%;
              color: #ababab;
              @include flex();
              @include flex-coldirection();
              .box__content-text-heading {
                position: relative;
                margin: 50px 0 20px 0;
                color: #f5f5f5;
                font: {
                  size: 16px;
                }
              }
              .box__content-text-heading:after {
                content: '';
                position: absolute;
                top: -15px;
                left: 0;
                width: 20px;
                height: 2px;
                background-color: #a73c3c;
                box-shadow: 0 0 1px 0 #a73c3c;
              }
              .box__content-text-par {
                line-height: 22px;
                padding-bottom: 10px;
                font: {
                  size: 14px;
                }
              }
              .box__content-text-list {
                list-style-type: none;
                .box__content-text-item {
                  padding-bottom: 3px;
                  font: {
                    size: 14px;
                  }
                }

              }
              .box__content-text-link {
                text-decoration: none;
                color: #ababab;
                font-size: 14px;
                line-height: 20px;
                white-space: nowrap;
              }
              .box__content-text-link:hover {
                text-decoration: underline;
              }
              /******************************************************** STYLE CONTACT FORM*************************/
              .remodal{
                .remodalBorder{

                  .ui-input {
                    position: relative;
                    padding: 0;
                    border: 0;
                  }

                  .ui-input input {
                    /*font-family: $base-font-family;*/
                    border: 0;
                    background: none;
                    padding: 16px 0 16px 0;
                    font-size: 24px;
                    outline: 0;
                    width: 100%;
                    tap-highlight-color: rgba(0,0,0,0);
                    touch-callout: none;
                  }

                  .ui-input textarea {
                    border: 0;
                    background: none;
                    padding: 16px 0 16px 0;
                    font-size: 24px;
                    outline: 0;
                    width: 100%;
                    tap-highlight-color: rgba(0,0,0,0);
                    touch-callout: none;
                  }

                  .ui-input input + label {
                    position: relative;
                    display: block;
                    padding: 8px 0 8px 0;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: .0875em;
                    font-weight: 500;
                    text-align: left;

                    &::before, &::after {
                      position: absolute;
                      top: 0;
                      left: 0;
                      content: "";
                      width: 100%;
                      height: 1px;
                    }

                    &::before {
                      background-color: rgba(255, 255, 255, .2);
                    }

                    &::after {
                      transform: scaleX(0);
                      transform-origin: left;
                      transition: transform $time $bezier;
                      background-color: $cellHvrClr;
                      height: 2px;
                    }

                    span {
                      position: relative;
                      color: rgba(255, 255, 255, .2);
                      transition: color $time $bezier;

                      &::after {
                        content: attr(data-text);
                        position: absolute;
                        overflow: hidden;
                        left: 0;
                        transform: scaleX(1);
                        white-space: nowrap;
                        color: #fff;

                        background-image: linear-gradient(to right,
                                $cellHvrClr 50%,
                                rgba(255,255,255,0) 0%);
                        background-position: 100% 50%;
                        background-size: 200%;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        backface-visibility: hidden;
                        perspective: 1000;
                        transform: translateZ(0);

                        transition: background-position $time $bezier;
                      }
                    }
                  }

                  .ui-input textarea + label {
                    position: relative;
                    display: block;
                    padding: 8px 0 8px 0;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: .0875em;
                    font-weight: 500;
                    text-align: left;

                    &::before, &::after {
                      position: absolute;
                      top: 0;
                      left: 0;
                      content: "";
                      width: 100%;
                      height: 1px;
                    }

                    &::before {
                      background-color: rgba(255, 255, 255, .2);
                    }

                    &::after {
                      transform: scaleX(0);
                      transform-origin: left;
                      transition: transform $time $bezier;
                      background-color: $cellHvrClr;
                      height: 2px;
                    }

                    span {
                      position: relative;
                      color: rgba(255, 255, 255, .2);
                      transition: color $time $bezier;

                      &::after {
                        content: attr(data-text);
                        position: absolute;
                        overflow: hidden;
                        left: 0;
                        transform: scaleX(1);
                        white-space: nowrap;
                        color: #fff;

                        background-image: linear-gradient(to right,
                                $cellHvrClr 50%,
                                rgba(255,255,255,0) 0%);
                        background-position: 100% 50%;
                        background-size: 200%;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        backface-visibility: hidden;
                        perspective: 1000;
                        transform: translateZ(0);

                        transition: background-position $time $bezier;
                      }
                    }
                  }

                  .ui-input input:focus,
                  .ui-input input.error,
                  .ui-input input:invalid,
                  .ui-input input.filled {

                    & + label {

                      &::after {
                        transform: scaleX(1);
                        transform-origin: left;
                      }

                      span::after {
                        //color: #4A90E2;
                        background-image: linear-gradient(to right,
                                rgba(255,255,255,1) 50%,
                                rgba(255,255,255,0) 0%);
                        background-position: 0% 50%;
                      }
                    }
                  }

                  .ui-input textarea:focus,
                  .ui-input textarea.error,
                  .ui-input textarea:invalid,
                  .ui-input textarea.filled{
                    & + label {

                      &::after {
                        transform: scaleX(1);
                        transform-origin: left;
                      }

                      span::after {
                        //color: #4A90E2;
                        background-image: linear-gradient(to right,
                                rgba(255,255,255,1) 50%,
                                rgba(255,255,255,0) 0%);
                        background-position: 0% 50%;
                      }
                    }
                  }

                  .ui-input input.filled {
                    color: #ffffff;

                    & + label {

                      &::after {
                        background-color: #ffffff;
                      }

                      span::after {
                        background-image: linear-gradient(to right,
                                #ffffff 50%,
                                rgba(255,255,255,0) 0%);
                        background-position: 0% 50%;
                      }
                    }
                  }

                  .ui-input textarea.filled {
                    color: #ffffff;

                    & + label {

                      &::after {
                        background-color: #ffffff;
                      }

                      span::after {
                        background-image: linear-gradient(to right,
                                #ffffff 50%,
                                rgba(255,255,255,0) 0%);
                        background-position: 0% 50%;
                      }
                    }
                  }

                  .ui-input input:focus {
                    color: $cellHvrClr;

                    & + label {

                      &::after {
                        background-color: $cellHvrClr;
                      }

                      span::after {
                        background-image: linear-gradient(to right,
                                $cellHvrClr 50%,
                                rgba(255,255,255,0) 0%);
                        background-position: 0% 50%;
                      }
                    }
                  }

                  .ui-input textarea:focus {
                    color: $cellHvrClr;

                    & + label {

                      &::after {
                        background-color: $cellHvrClr;
                      }

                      span::after {
                        background-image: linear-gradient(to right,
                                $cellHvrClr 50%,
                                rgba(255,255,255,0) 0%);
                        background-position: 0% 50%;
                      }
                    }
                  }

                  .ui-input input.error,
                  .ui-input input:invalid {
                    color: #4A90E2;

                    & + label {

                      &::after {
                        background-color: #4A90E2;
                      }

                      span::after {
                        background-image: linear-gradient(to right,
                                #4A90E2 50%,
                                rgba(255,255,255,0) 0%);
                        background-position: 0% 50%;
                      }
                    }
                  }

                  .ui-input textarea.error,
                  .ui-input textarea:invalid {
                    color: #4A90E2;

                    & + label {

                      &::after {
                        background-color: #4A90E2;
                      }

                      span::after {
                        background-image: linear-gradient(to right,
                                #4A90E2 50%,
                                rgba(255,255,255,0) 0%);
                        background-position: 0% 50%;
                      }
                    }
                  }

                  .__first, .__second, .__third, .__fourth {
                    animation-name: fadeIn;
                    animation-duration: 180ms;
                    animation-fill-mode: both;
                    animation-iteration-count: 1;
                  }

                  .__first { animation-delay: 0; }
                  .__second { animation-delay: 80ms; }
                  .__third { animation-delay: 180ms; }
                  .__fourth { animation-delay: 360ms; }

                  @keyframes fadeIn {
                    from {
                      opacity: 0;
                      transform: translate3d(0, -25%, 0);
                    }
                    to {
                      opacity: 1;
                      transform: translate3d(0, 0, 0);
                    }
                  }

                }
              }
            }
          }
        }
      }

        /*Заполнение БГ ккарточек на главной странице*/

        @each $item in $bgFirstpage {
          $i: index($bgFirstpage, $item);
          .box__content--#{$i}>.box__content-wrapper>.box__content-inner {
            background: $item;
            background-size: contain;
          }
        }

        &__close {
        position: absolute;
        top: 3vh;
        left: 2vw;
        height: 30px;
        width: 30px;
        font-size: 0;
        cursor: pointer;
        z-index: 9999;
        display: none;
        &:after,
        &:before {
          content: '';
          position: absolute;
          top: 14px;
          left: -2px;
          transform: rotate(45deg);
          width: 35px;
          height: 2px;
          background-color: #fff;
          opacity: 0;
          transition: 500ms;
        }
        &:before {
          transform: rotate(-45deg);
        }
        span {
          position: relative;
          display: inline-block;
          margin: 1px;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #fff;
          transition: $cellAnSpeed 500ms;
        }
        @for $i from 6 through 10 {
          span:nth-child(#{$i}) {
            right: 6px;
          }
        }
      }

        &__episodes {
        position: absolute;
        top: 28%;
        right: 15px;
        color: #fff;
        letter-spacing: 2px;
        font-size: 10px;
        &:after {
          content: '';
          position: absolute;
          top: -20px;
          right: 2px;
          width: 15px;
          height: 1px;
          background-color: #fff;
        }
      }

        &__title {
        position: absolute;
        top: 25%;
        left: 9%;
          @include mediaMaxW(997.1px){
            position: initial;
            margin: 20% auto;
          }
        &-heading {
          position: relative;
          color: $cellHvrClr;
          letter-spacing: 3px;
          line-height: clamp(35px, 7vw, 65px);
          text-transform: uppercase;
          font: {
            size: clamp(35px, 7vw, 65px);
          }
          @include mediaMaxW(997.1px){
            @include flex();
          }
          span {
            letter-spacing: 6px;
            color: #fff;
          }
        }
        &-par {
          text-transform: uppercase;
          margin-top: 35%;
          color: #7b2222;
          font: {
            size: 13px;
            weight: bold;
          }
        }
      }

        .show-content {
          opacity: 1;
          z-index: 2;
          transition: all 300ms $cellAnSpeed, z-index 0ms 0ms;
          .box__content-wrapper>.box__content-inner {
            transform: translateX(0);
            opacity: 1;
            transition: 300ms 1100ms;
          }
        }

      }

      .active {
        left: 0 !important;
        top: 0 !important;
        height: 100%;
        width: 40%;
        background-color: $cellHvrClr;
        z-index: 5;
        transition: all $cellAnSpeed 400ms, width 300ms $cellAnSpeed + 400;
        cursor: default;
        opacity: 1 !important;
        @include mediaMaxW(576px){
          height: 30%;
          width: 100%;
        }
        @for $i from 1 through 4 {
          .box__row-cell-info:nth-child(#{$i}) {
            transform: translateX(50px);
            opacity: 0;
            transition: 300ms 50ms * ($i - 1) ease-in, opacity 375ms 50ms * ($i - 1);
          }
        }
        .box__row-cell-info--full {
          transform: translateX(0);
          opacity: 1;
          transition: 300ms 900ms;
          position: absolute;
          top: 16%;
        }
      }

      .cell-fade {
        opacity: 0;
        transition: all $cellAnSpeed 400ms, width 300ms $cellAnSpeed + 400, opacity 200ms 300ms;
      }

      .hover-cell {
        &:after {
          opacity: 1;
        }
      }

      .box-close-active {
        &:after,
        &:before {
          opacity: 1;
          transform: rotate(135deg);
          transition: 500ms 800ms;
        }
        &:before {
          transform: rotate(45deg);
        }
        span {
          opacity: 0;
          transition: 0ms 800ms;
        }
      }
      /************************************************ КОНЕЦ ПЕРВОГО СЛАЙДА ***********************************************************/

		}

    .container-main-second {

	 }

    .container-main-third{
      width: 100%;
      .container-main-third-content {
        width: 100%;
        @include flex();
        @include align-items-center();
        height: 100vh;
        @include flex-wrap();
        z-index: 3;
      }
      .header {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        overflow: hidden;
        transition: 0.45s ease 0.05s;
        max-height: 70px;
        &-title {
          width: 100%;
          font-size: clamp(35px, 7vw, 65px);;
          /*color: #fbf9bd;*/
          margin-bottom: 15px;
          background: linear-gradient(90deg, rgba(242,85,85,1) 20%, rgba(0,0,0,1) 55%, rgba(255,255,255,1) 80%, rgba(242,85,85,1) 100%);
          background-size: 200% auto;

          color: #000;
          background-clip: text;
          text-fill-color: transparent;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: grad 5s linear infinite;

          @keyframes grad {
            to {
              background-position: 200% center;
            }
          }
        }
      }

      .team-container {
        padding: 0 30px;
        box-sizing: border-box;
        max-width: 1400px;
        width: 100%;
        margin: auto;
        @include flex();
        @include flex-coldirection();
        height: auto;
        position: relative;
        z-index: 4;
        @include mediaMaxW(970px){
          width: 85vw;
          padding: 0px;
        }
        @include mediaMaxH(970px){
          width: 85vw;
          padding: 0px;
        }
      }
      .person {
        width: calc(25% - 30px);
        cursor: pointer;
        overflow: hidden;
        transition: 0.45s;
        position: relative;
        &-details {
          padding: 0 20px;
          box-sizing: border-box;
          margin-top: -15px;
          transition: 0.3s;
          z-index: 2;
          position: relative;
        }
        &-img {
          width: 100%;
          filter: grayscale(100%);
          z-index: 1;
          position: relative;
          max-height: 250px;
          height: calc(33vw - 4vh);
          @include mediaMaxW(480px){
            height: calc(33vw - 4vh) !important;
          }
        }
        &-title {
          color: #fff;
          font-size: clamp(12px, 2vw, 25px);
          font-family: $fontteacher;
        }
        &-desc {
          color: rgba(#fff, 0.7);
          margin-top: 10px;
          text-transform: uppercase;
          font-size: clamp(14px, 1vw, 25px);
          letter-spacing: 2px;
          font-family: $fontteacher;
        }
        &-list {
          @include flex();
          @include flex-wrap();
          width: 100%;
          @include justify-content-between();
          &:hover {
            .person {
              opacity: 0.8;
            }
          }
        }
        &:hover {
          opacity: 1 !important;
          img{
            filter: none !important;
          }
        }
        &:before {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          background: $cellHvrClr;
          content: "";
          height: 0px;
          transition: 0.45s;
        }
        &:after {
          content: "\f2ca";
          font-family: "Ionicons";
          font-size: 36px;
          color: #282828;
          position: absolute;
          width: 100%;
          top: 0;
          height: 100%;
          @include flex();
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;
          text-align: center;
          @include flex-wrap();
          @include align-items-center();
          @include justify-content-center();
          left: 0;
          @include flex-coldirection();
        }
      }

      .container-selected {
        .header {
          max-height: 0px;
        }
        .person {
          opacity: 0 !important;
          pointer-events: none;
        }
        .person-list .person-selected {
          opacity: 1 !important;
          img {
            display: none;
          }
          &:before {
            height: 100%;
          }
          .person-details {
            margin-top: -40px;
            opacity: 0;
          }
        }
      }
      .team-detail {
        position: absolute;
        width: calc(100% - 100px);
        right: 80px;
        top: 0;
        height: 100%;
        color: #fff;
        transition: 0.15s;
        opacity: 0;
        visibility: hidden;
        box-sizing: border-box;
        z-index: 4;
        &-bio {
          background: $bgContentClr;
          @include flex();
          @include justify-content-center();
          @include flex-coldirection();
          padding-left: 2vw;
          padding-right: 5vw;
          height: 100vh;
          &-content {
            p {
              margin-bottom: 15px;
              line-height: clamp(14px, 2vw, 25px) !important;
              font-size: clamp(14px, 2vw, 18px) !important;
              font-family: "Karla", sans-serif;
            }
          }
        }
        &-header {
          margin-bottom: 30px;
        }
        &-inner {
          min-height: 100%;
          @include flex();
        }
        &-left {
          position: relative;
          width: 650px;
          min-height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top;
          padding: 5vw;
          @include flex();
          @include flex-wrap();
          @include align-items-center();
          @include justify-content-center();
          &:before {
            width: 100%;
            height: 100%;
            content: "";
            background: rgba(#282828, 0.8);
            position: absolute;
            right: 0;
            top: 0;
          }
          &:after {
            width: 100%;
            height: 100%;
            content: "";
            background: linear-gradient(
                    to right,
                    rgba(40, 40, 40, 0) 9%,
                    rgba(40, 40, 40, 0) 10%,
                    rgba(40, 40, 40, 0) 38%,
                    rgba(40, 40, 40, 1) 92%,
                    rgba(40, 40, 40, 1) 100%
            );

            position: absolute;
            right: 0;
            top: 0;
          }
        }
        &-photo {
          position: relative;
          text-align: center;
          z-index: 999;
          width: 100%;
          font-size: 0px;
          img {
            max-width: 100%;
            box-shadow: 0 10px 22px rgba(0,0,0,.3);
          }
        }
        &-right {
          box-sizing: border-box;
          width: calc(100% - 650px);
          min-height: 100%;
          @include flex();
          @include align-items-center();
          position: relative;
          right: 0;
          @include flex-wrap();
          .person-title {
            font-size: clamp(20px, 2vw, 45px) !important;
          }
        }
      }

      .container-ready {
        .team-detail {
          transition: 0.45s ease 0.3s;
          opacity: 1;
          right: 0;
          visibility: visible;
          img {
            width: 100%;
          }
        }
        .team-container {
          height: 0px;
          overflow: hidden;
        }
        .person-selected {
          left: 0px !important;
          top: 0px !important;
          z-index: 99;
          height: 100% !important;
          width: 100px !important;
          pointer-events: auto;
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .person-back {
        &:before {
          height: 0px !important;
        }
        .person-details {
          margin-top: -15px !important;
          transition-delay: 0.35s;
          opacity: 1 !important;
        }
      }

      .social {
        margin-top: 15px;
        a {
          color: $cellHvrClr;
          font-size: 25px;
          margin-right: 8px;
          text-decoration: none;
          &:last-child {
            margin-right: 0;
          }
        }
        @include mediaMaxW(970px){
          margin-top: 15px;
          height: 35px;
          @include flex();
          @include align-items-center();
          @include justify-content-center();
        }
      }
      @include mediaMaxW(1200px) {
        .team-detail-left {
          width: 400px;
          padding: 0 40px;
          box-sizing: border-box;
        }
        .team-detail-right {
          padding-right: 0;
          width: calc(100% - 400px);
        }
        .person-details {
          padding: 0 10px;
        }
      }

      @include mediaMaxW(970px) {
        .team-detail-left {
          width: 100%;
          padding: 50px 2vw;
          max-width: 40vw;
          &:after {
            background: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(33, 33, 33, 1) 83%,
                    rgba(40, 40, 40, 1) 100%
            );
          }
        }
        .team-detail-right {
          width: 100%;
        }
        .team-detail-header {
          text-align: center;
        }
        .container-ready .person-selected {
          width: 50px !important;
        }
        .team-detail {
          width: calc(100% - 50px);
        }
        .person {
          width: calc(25% - 20px);
          &-img{
            max-height: none;
            height: calc(25vw - 10vh);
          }
        }
      }
      @include mediaMaxH(970px) {
        .person {
          width: calc(25% - 20px);
          &-img{
            max-height: none;
            height: calc(20vw - 5vh);
          }
        }
      }
      @include mediaMaxW(480px){
        .person {
          width: calc(33% - 5px);
          margin-bottom: 10px;
        }
        .header {
          margin-top: 50px;
        }
      }

      @include mediaMaxH(625px){
        .team-container{
          padding: 0px;
          max-width: calc(100vw - 80px);
        }
      }
    }

    /*************************************************COOMING SOON**********************************************************************************/
    .comming-soon{
      display:flex;
      justify-content:center;
      align-items:center;
      flex-flow:column;
      position:relative;
      height:100vh;
      width: 100%;
      background: $background;
      z-index: 2;
      .circle{
        width:250px;
        height:250px;
        background:$background;
        border-radius:100%;
        -webkit-animation: shadow 2s linear 2s infinite alternate;
        animation: shadow 2s linear 2s infinite alternate;
      }
      .form-group{
        width:450px;
        text-align:center;
        position:absolute;
        top:50%;
        .text{
          color:#efefef;
          letter-spacing:15px;
          font-size:20px;
        }
        label{
          color:#efefef;
          font-size:15px;
          margin-top:40px;
          margin-bottom:15px;
        }
        .input-group{
          width:100%;
          input{
            border-radius:15px 0px 0px 15px;
            background:rgba(2555,255,255,0);
            border-color:$secondary;
            padding-left:15px;
            &:focus{
              box-shadow:none !important;
              border-color:$secondary !important;
              background:#efefef;
            }
          }
          .input-group-text{
            border-radius:0px;
            padding:0px;
            border:none;
            background:transparent;
            button{
              border:1px solid $secondary;
              border-radius:0px 15px 15px 0px;
              background:$secondary;
              padding:10px 20px;
              color:#fff;
              font-weight:normal;
              letter-spacing:2px;
              &:hover{
                cursor:pointer;
                background:darken($secondary,3%);
              }
              &:focus{
                box-shadow:none !important;
                outline:none !important;
              }
            }
          }

        }
      }
    }
    @-webkit-keyframes shadow {
      0%   {box-shadow:0px -3px 2px $primary;}
      25%  {box-shadow:0px -6px 4px $primary;}
      50%  {box-shadow:0px -9px 6px $primary;}
      75%  {box-shadow:0px -12px 8px $primary;}
      100% {box-shadow:0px -15px 10px $primary;}
    }
    @keyframes shadow {
      0%   {box-shadow:0px -3px 2px $primary;}
      25%  {box-shadow:0px -6px 4px $primary;}
      50%  {box-shadow:0px -9px 6px $primary;}
      75%  {box-shadow:0px -12px 8px $primary;}
      100% {box-shadow:0px -15px 10px $primary;}
    }
    /**************************************************************************************/
  }
}

.slide {
  left: 100%;
}

@each $item in $bgPics {
  $i: index($bgPics, $item);
  .slide--#{$i} {
    z-index: $i - 1;
    background: $item;
    background-size: cover;
  }
}

.icon-show {
  opacity: 1;
  z-index: 5;
}

.active {
  .slide--1 {
    .slide__bg {
      transform: scale(0, 1);
      transition: $bgSpd;
    }
    .slide__img-wrapper {
      transform: translate3d($imgDist, 0, 0);
      transition: $imgSpd;
    }
  }
  @for $i from 1 through $numSlides {
    .slide--#{$i} {
      transform: translate3d((-100% / $numSlides) * ($numSlides - ($i - 1)), 0, 0);
      transition: transform $bgSpd $bgSpd * (($i - 1) * 1.3);
      .slide__bg {
        transform: scale(0, 1);
        transition: $bgSpd * 2 $bgSpd * (($i - 1) * 1.3) ;
      }
      .slide__img-wrapper {
        transform: translate3d($imgDist, 0, 0);
        transition: $imgSpd $bgSpd * (($i - 1) * 1.3);
      }
    }
  }
}

.show-close {
  z-index: 4;
  opacity: 1;
  &:after {
    transform: rotate(45deg) scale(1, 1);
  }
  &:before {
    transform: rotate(-45deg) scale(1, 1);
  }
}
