doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='initial-scale=1.0 ,width=device-width')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
        script.
            $(window).on('load', function () {
                var $preloader = $('#p_prldr')
                $preloader.delay(200).fadeOut('slow');
            });
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
        link(rel='stylesheet', href='libs/fontawesome-free-5.12.0-web/css/all.min.css')
        link(rel='stylesheet', href='css/stylepreloader.css')
        link(rel='stylesheet', href='css/style.css')
    body
        #p_prldr.preloader
            svg(viewBox="0 0 600 300")
                // Symbol
                symbol#s-text
                    text(text-anchor="middle", x="50%", y="50%", dy=".35em")
                        | Interstellar
                // Duplicate symbols
                use.text(xlink:href="#s-text")
                use.text(xlink:href="#s-text")
                use.text(xlink:href="#s-text")
                use.text(xlink:href="#s-text")
                use.text(xlink:href="#s-text")
        .cont
            .slide.slide--1(data-target='1')
                .slide__text.slide__text--1 First Page
                .slide__img
                    .slide__close
                .slide__bg-dark
                .slide__container-content
                    .container-main
                        .box
                            .box__row
                                .box__row-cell(data-cell='1')
                                    .box__row-cell-info
                                        p.box__row-cell-info-ep
                                            | EP
                                            span 04
                                    .box__row-cell-info
                                        p.box__row-cell-info-title Proxima Nova is Over
                                    .box__row-cell-info
                                        .box__row-cell-info-sign
                                    .box__row-cell-info.box__row-cell-info--time
                                        p 43 minutes
                                    .box__row-cell-info--full
                                        h1.box__row-cell-info--full-heading Proxima Nova is Over
                                        p.box__row-cell-info--full-par
                                            | Seriously though, it&apos;s over.
                                .box__row-cell(data-cell='2')
                                    .box__row-cell-info
                                        p.box__row-cell-info-ep
                                            | EP
                                            span 03
                                    .box__row-cell-info
                                        p.box__row-cell-info-title Proxima Nova is Over
                                    .box__row-cell-info
                                        .box__row-cell-info-sign
                                    .box__row-cell-info.box__row-cell-info--time
                                        p 44 minutes
                                    .box__row-cell-info--full
                                        h1.box__row-cell-info--full-heading Proxima Nova is Over
                                        p.box__row-cell-info--full-par
                                            | Seriously though, it&apos;s over.
                            .box__row
                                .box__row-cell(data-cell='3')
                                    .box__row-cell-info
                                        p.box__row-cell-info-ep
                                            | EP
                                            span 02
                                    .box__row-cell-info
                                        p.box__row-cell-info-title Proxima Nova is Over
                                    .box__row-cell-info
                                        .box__row-cell-info-sign
                                    .box__row-cell-info.box__row-cell-info--time
                                        p 41 minutes
                                    .box__row-cell-info--full
                                        h1.box__row-cell-info--full-heading Proxima Nova is Over
                                        p.box__row-cell-info--full-par
                                            | Seriously though, it&apos;s over.
                                .box__row-cell(data-cell='4')
                                    .box__row-cell-info
                                        p.box__row-cell-info-ep
                                            | EP
                                            span 01
                                    .box__row-cell-info
                                        p.box__row-cell-info-title Proxima Nova is Over
                                    .box__row-cell-info
                                        .box__row-cell-info-sign
                                    .box__row-cell-info.box__row-cell-info--time
                                        p 42 minutes
                                    .box__row-cell-info--full
                                        h1.box__row-cell-info--full-heading Proxima Nova is Over
                                        p.box__row-cell-info--full-par
                                            | Seriously though, it&apos;s over.
                            .box__content(data-content='1')
                                .box__content-wrapper
                                    .box__content-inner
                                        .box__content-text
                                            h2.box__content-text-heading SYNOPSIS - 43 MIN
                                            p.box__content-text-par
                                                | Suspendisse non orci porta, consectetur tellus in, gravida felis. Aenean vel posuere lacus. Quisque eget rutrum elit. In eu tortor eget velit scelerisque porttitor.
                                            p.box__content-text-par
                                                | Morbi nisl metus, hendrerit eget ante sed, consequat egestas urna. Quisque et rutrum ligula, eu rutrum ex. Nunc neque mauris, laoreet eu auctor vitae, rutrum molestie dolor. Pellentesque vel vulputate elit, quis rhoncus sapien.
                                            h2.box__content-text-heading SHOW NOTES
                                            ul.box__content-text-list
                                                li.box__content-text-item
                                                    | Vitae ultrices
                                                li.box__content-text-item
                                                    | Aenean vel
                                                li.box__content-text-item
                                                    | Ut condimentum
                                                li.box__content-text-item
                                                    | Aenean metus
                                                li.box__content-text-item
                                                    | Quisque sodales
                                                li.box__content-text-item
                                                    | Accumsan metus
                                            h2.box__content-text-heading FOLLOW
                                            a.box__content-text-link(href='https://twitter.com/mrspok407' target='_blank') mrspok407 | @mrspok407
                                            br
                                            a.box__content-text-link(href='https://codepen.io/mrspok407/' target='_blank') Checkout my other pens
                            .box__content(data-content='2')
                                .box__content-wrapper
                                    .box__content-inner
                                        .box__content-text
                                            h2.box__content-text-heading SYNOPSIS - 44 MIN
                                            p.box__content-text-par
                                                | Suspendisse non orci porta, consectetur tellus in, gravida felis. Aenean vel posuere lacus. Quisque eget rutrum elit. In eu tortor eget velit scelerisque porttitor.
                                            p.box__content-text-par
                                                | Morbi nisl metus, hendrerit eget ante sed, consequat egestas urna. Quisque et rutrum ligula, eu rutrum ex. Nunc neque mauris, laoreet eu auctor vitae, rutrum molestie dolor. Pellentesque vel vulputate elit, quis rhoncus sapien.
                                            h2.box__content-text-heading SHOW NOTES
                                            ul.box__content-text-list
                                                li.box__content-text-item
                                                    | Vitae ultrices
                                                li.box__content-text-item
                                                    | Aenean vel
                                                li.box__content-text-item
                                                    | Ut condimentum
                                                li.box__content-text-item
                                                    | Aenean metus
                                                li.box__content-text-item
                                                    | Quisque sodales
                                                li.box__content-text-item
                                                    | Accumsan metus
                                            h2.box__content-text-heading FOLLOW
                                            a.box__content-text-link(href='https://twitter.com/mrspok407' target='_blank') mrspok407 | @mrspok407
                                            br
                                            a.box__content-text-link(href='https://codepen.io/mrspok407/' target='_blank') Checkout my other pens
                            .box__content(data-content='3')
                                .box__content-wrapper
                                    .box__content-inner
                                        .box__content-text
                                            h2.box__content-text-heading SYNOPSIS - 41 MIN
                                            p.box__content-text-par
                                                | Suspendisse non orci porta, consectetur tellus in, gravida felis. Aenean vel posuere lacus. Quisque eget rutrum elit. In eu tortor eget velit scelerisque porttitor.
                                            p.box__content-text-par
                                                | Morbi nisl metus, hendrerit eget ante sed, consequat egestas urna. Quisque et rutrum ligula, eu rutrum ex. Nunc neque mauris, laoreet eu auctor vitae, rutrum molestie dolor. Pellentesque vel vulputate elit, quis rhoncus sapien.
                                            h2.box__content-text-heading SHOW NOTES
                                            ul.box__content-text-list
                                                li.box__content-text-item
                                                    | Vitae ultrices
                                                li.box__content-text-item
                                                    | Aenean vel
                                                li.box__content-text-item
                                                    | Ut condimentum
                                                li.box__content-text-item
                                                    | Aenean metus
                                                li.box__content-text-item
                                                    | Quisque sodales
                                                li.box__content-text-item
                                                    | Accumsan metus
                                            h2.box__content-text-heading FOLLOW
                                            a.box__content-text-link(href='https://twitter.com/mrspok407' target='_blank') mrspok407 | @mrspok407
                                            br
                                            a.box__content-text-link(href='https://codepen.io/mrspok407/' target='_blank') Checkout my other pens
                            .box__content(data-content='4')
                                .box__content-wrapper
                                    .box__content-inner
                                        .box__content-text
                                            h2.box__content-text-heading SYNOPSIS - 42 MIN
                                            p.box__content-text-par
                                                | Suspendisse non orci porta, consectetur tellus in, gravida felis. Aenean vel posuere lacus. Quisque eget rutrum elit. In eu tortor eget velit scelerisque porttitor.
                                            p.box__content-text-par
                                                | Morbi nisl metus, hendrerit eget ante sed, consequat egestas urna. Quisque et rutrum ligula, eu rutrum ex. Nunc neque mauris, laoreet eu auctor vitae, rutrum molestie dolor. Pellentesque vel vulputate elit, quis rhoncus sapien.
                                            h2.box__content-text-heading SHOW NOTES
                                            ul.box__content-text-list
                                                li.box__content-text-item
                                                    | Vitae ultrices
                                                li.box__content-text-item
                                                    | Aenean vel
                                                li.box__content-text-item
                                                    | Ut condimentum
                                                li.box__content-text-item
                                                    | Aenean metus
                                                li.box__content-text-item
                                                    | Quisque sodales
                                                li.box__content-text-item
                                                    | Accumsan metus
                                            h2.box__content-text-heading FOLLOW
                                            a.box__content-text-link(href='https://twitter.com/mrspok407' target='_blank') mrspok407 | @mrspok407
                                            br
                                            a.box__content-text-link(href='https://codepen.io/mrspok407/' target='_blank') Checkout my other pens
                            .box__close
                                span
                                br
                                span
                                span
                                br
                                span
                                span
                                span
                            .box__title
                                h1.box__title-heading
                                    | INTER
                                    br
                                    span Stellar
            .slide.slide--2(data-target='2')
                .slide__text Events
                .slide__img
                    .slide__close
                .slide__bg-dark
                .slide__container-content
                    .comming-soon
                        .circle
                        .form-group
                            p.text COMMING SOON
                            label Get latest updates about new release
                            .input-group
                                input.form-control(type='text' placeholder='Email Address')
                                .input-group-append
                                    span#basic-addon2.input-group-text
                                        button Notify Me
            .slide.slide--3(data-target='3')
                .slide__text Teachers
                .slide__img
                    .slide__close
                .slide__bg-dark
                .slide__container-content
            .slide.slide--4(data-target='4')
                .slide__text Calendar
                .slide__img
                    .slide__close
                .slide__bg-dark
                .slide__container-content
            .slide.slide--5(data-target='5')
                .slide__text About US
                .slide__img
                    .slide__close
                .slide__bg-dark
                .slide__container-content
        script(src='js/index.js')
        script(src='js/sliderivents.js')